
:root {
    --primary-color: #4CAF50;
    --font-size: 16px;
}
.btn-primary{
    background: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover{
    background: white;
    border-color: black;
    color: black;
}

.chatbox{
    width: 25vw;
}

.chartbox{
    width: 50vw;
}