{% extends 'base.html' %}
{% block title %}{{name}}{% endblock %}
{% load crispy_forms_tags %} 
{% block content %}
<h2 class="mb-3">{{name}}</h2>
<div class="card m-1 chatbox p-2">
    {% for text in chat %}
    {% if text.sender == request.user %}
    <p class="text-end">{{text.text}}</p>
    {% else %}
    <p class="">{{text.text}}</p>
    {% endif %}
    {% endfor %}
</div>
<form action="" method="POST" class="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">{{action}}</button>
</form>
{% endblock %}