{% extends 'base.html' %}

{% block title %}VacaNion - Home{% endblock %}

{% block content %}
    <h1>VacaNion</h1>
    <h3>A place to manage all your vacation with ease</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"><a href="{% url 'signup' %}" class="text-white text-decoration-none">Sign Up</a></button>
        <br><br>
        <button type="submit" class="btn btn-primary"><a href="{% url 'signin' %}" class="text-white text-decoration-none">Sign In</a></button>
        <br><br>
        <button type="submit" class="btn btn-primary"><a href="{% url 'signout' %}" class="text-white text-decoration-none">Sign Out</a></button>
    </form>
{% endblock %}

