
{% extends 'base.html' %}
{% block title %}{{request.user.username}}{% endblock %}
{% block content %}

<script>
</script>

<table class="table">
    <thead>
    <tbody>
      {% if books %}
      {% for book in books %}
      <tr>
        <th scope="row">{{ book.user.username }} @ {{ book.hotel.name }}</th>
        <td>{{ book.pnum }}</td>
        <td>{{ book.book_date }}</td>
        <td><a href="{% url 'chat' book.id %}" class="btn btn-primary">Chat</a></td>
        {% if not request.user.is_staff %}
        <td><a href="{% url 'review' book.id %}" class="btn btn-primary">Review</a></td>
        {% endif %}
        {% if not request.user.is_staff %}
        <td><a class="btn btn-primary" href="{% url 'dBook' book.id %}">Cancel</a></td>
        {% endif %}
        {% if book.userTid != 0 and book.userTid == book.officerTid  %}
        <td><p class="btn btn-secondary">Payment Verified</p></td>
        {% else %}
        <td><a class="btn btn-primary" href="{% url 'makePayment' book.id %}">Verify Payment</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    {% else %}
    <tr>
      <td>No bookings found.</td>
    </tr>
    {% endif %}
    </tbody>
  </table>
{% endblock %}

