
{% extends 'base.html' %}
{% block title %}{{request.user.username}}{% endblock %}
{% block content %}

<table class="table">
    <thead>
    <tbody>
      {% if books %}
      {% for book in books %}
      <tr>
        <th scope="row">{{ book.hotel.name }}</th>
        <td>{{ book.pnum }}</td>
        <td>{{ book.book_date }}</td>
        <td><a href="{% url 'chat' book.id %}" class="btn btn-primary">Chat</a></td>
        <td><a class="btn btn-primary">Cancel</a></td>
      </tr>
      {% endfor %}
    {% else %}
    <tr>
      <td>No bookings found.</td>
    </tr>
    {% endif %}
    </tbody>
  </table>
{% endblock %}